:root {
  --background: #FFFDFD;
  --foreground: var(--teal-800);

  /* --card: white;
  --card-foreground: var(--foreground);

  --popover: white;
  --popover-foreground: var(--foreground); */

  --highlight: var(--teal-600);
  --highlight-soft: var(--teal-500);
  --table-header: color-mix(in oklch, var(--teal-700) 72%, transparent);

  --primary: var(--highlight);
  --primary-hover: var(--highlight);
  --primary-active: var(--highlight);
  --primary-foreground: white;

  /* --secondary: white;
  --secondary-foreground: var(--foreground);

  --accent: var(--pink-500);
  --accent-foreground: white;

  --border: var(--gray-200);
  --input: var(--gray-200);

  --destructive: var(--red-600);
  --destructive-foreground: white;

  --ring: var(--primary); */

  --radius: 12px;
}
